<div class="container">
  <form id="contact" action="/books" method="POST">
    <h3>Enter book details</h3>
    <h4>please fill out all required fields </h4>

    <fieldset>
      <input placeholder="Book Title" for="title" type="text" tabindex="1" name="title" id="title">
    </fieldset>

    <fieldset>

      <select name="author" id="">
        {{#each authors}}
        <option value="{{this._id}}">{{this.name}} {{this.lastName}}</option>
        {{/each}}
      </select>
    </fieldset>

    <fieldset>
      <input for="description" placeholder="Write Your Notes" type="text" name="description" id="description"
        tabindex="3">
    </fieldset>

    <fieldset>
      <input placeholder="Rating" type="number" name="rating" id="rating">
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit">Submit</button>

    </fieldset>
  </form>


</div>

<h2 class="Library">
  <p><a href="/books">Go back to your Library List</a></p>
</h2>