<div class='container'>
  <div class="container_content">
    <div class="container_content_inner">
      <div class="title">
        {{!-- <h1>Welcome {{#if user}} {{user.username}} {{/if}} 👋</h1> --}}

        <h1><span class="arrow-highlight">Take Notes</span></h1>
      </div>
      <div class="par">
        <h2>
          <span class="highlight">Write notes in your own words instead of copying information from the
            book.</span>
        </h2>
        <br>
        <p> At the end of each chapter write a few bullet points that<span class="highlight2">summarize what you’ve read
            and make it personal</span> if
          you can —
          that is, apply it to something in your life. Also, note any unanswered questions. When you’re done the book,
          put it down
          for a week.
        </p>
      </div>
      <div class="btns">
        {{!-- <button class='btns_more'> See more </button> --}}
        <p class="btn-hover color-2"><a href="/signup">Sign Up</a></p>
        <p class="btn-hover color-2"><a href="/login">Log In</a></p>
      </div>
    </div>
  </div>
  <div class="container_outer_img">
    <div class="img-inner">
      <img
        src='https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2906&q=80'
        alt="" class="container_img" />
    </div>
  </div>
</div>
<div class="overlay"></div>